/* .container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
} */

#app {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

#banner {
  justify-content: center;
  max-height: 300px;
}

#planned-col {
  display: block;
  text-align: center;
}

#completed-col {
  display: block;
  text-align: center;
}

#banner {
  width: 100%;
}

.workout {
  border: 1px solid black;
}

.workout-image {
  max-width: 100px;
}

.modal-label {
  min-width: 100px;
}

.modal-input {
  display: block
}

#creation-form{
  text-align: center;
}

.creation-label {
  min-width: 100px;
  padding: 5px;
}

.creation-input {
  display: block
}

#update-header {
  justify-content: center;
}